Button {
    position: absolute;
    background-color: yellow;
    &:hover {
        position: relative;
        transition: left ease 2s;
        left: 15px;
        cursor: pointer;
        background-color: green;
        
        rotate: 20deg;
    }
}